.span8
  .hero-unit
    = form_for @address, :url => new_address_path, :method => :get do |f|
      %h1 Bitcoin for Passbook
      %p Check your bitcoin balance by following three simple steps...
      %h2 Step 1
      %p 
        Tell us the 
        = link_to "address","https://en.bitcoin.it/wiki/Address", :target => "_new"
        you wish to monitor.
        %br
        = f.text_field :base58, :placeholder => "1KHxSzFpdm337XtBeyfbvbS9LZC1BfDu8K", :class => "input-xxlarge"
      %h2 Step 2
      %p 
        Pay B⃦ 0.01 using 
        = link_to("Coinbase", "https://coinbase.com", :target => "_new") + "."
        You don't need an account and you don't have to use your iPhone for the payment either.
      %h2 Step 3
      %p Download your pass. If you're not on your iPhone, we'll give you a link.
      = f.submit "Get Started",:class => "btn btn-primary btn-large"
.span4
  #screenshot
    .iPhone-frame
      %img.screen{:src=>'/images/screenshot.png'}
.span12
  Note that you cannot make payments using this pass. However you can use the QR code to ask your Android friends for bitcoins. If anything goes wrong, please 
  = link_to "contact", "mailto:sjors@bitcoin-passbook.com"
  me. This service is brought to you by Sjors Provoost a.k.a. 
  = link_to("Purple Dunes", "http://purpledunes.com/") + "."
  You can also checkout my personal 
  = link_to("Twitter", "http://twitter.com/provoost")
  and 
  = link_to("blog", "http://sprovoost.nl/") + "."