.span8
  .hero-unit
    = form_for @address, :url => new_address_path, :method => :get do |f|
      %h1 Bitcoin for Passbook
      %div{style: "background: #EFF2B9;"}
        %hr
        %h3 Unavailable pending repairs
        %p 
          Several 
          = link_to "issues", "https://github.com/Sjors/bitcoin-passbook/issues"
          are preventing this service from operating. The most important problems are that the Passbook gem needs to be replaced because it is no longer maintained and that Urban Airship discontinued their free push notification service. I currently do not have time to fix these myself, so I 
          = link_to "open sourced", "https://github.com/Sjors/bitcoin-passbook/" 
          the project. There's also a small 
          = link_to "bounty", "https://www.bountysource.com/trackers/10358328-sjors-bitcoin-passbook" 
          to encourage fixes.
        %hr
      %p Check your bitcoin balance by following three simple steps...
      %h2 Step 1
      %p 
        Tell us the 
        = link_to "address","https://en.bitcoin.it/wiki/Address", :target => "_new"
        you wish to monitor.
        %br
        = f.text_field :base58, :placeholder => "1KHxSzFpdm337XtBeyfbvbS9LZC1BfDu8K", :class => "input-xxlarge"
      %h2 Step 2
      %p 
        Pay ฿ 
        = ENV['PRICE'].to_f 
        using 
        = link_to("Coinbase", "https://coinbase.com", :target => "_new") + "."
        You don't need an account and you don't have to use your iPhone for the payment either.
      %h2 Step 3
      %p Download your pass. If you're not on your iPhone, we'll give you a link.
      = f.submit "Get Started",:class => "btn btn-primary btn-large"
.span4
  #screenshot
    .iPhone-frame
      %img.screen{:src=>'/images/screenshot.png'}
.span12
  Note that <b>you cannot make payments using this pass</b>. However you can use the QR code to ask your Android friends for bitcoins. If anything goes wrong, please 
  = link_to "contact", "mailto:sjors@bitcoin-passbook.com"
  me. This service is brought to you by Sjors Provoost a.k.a. 
  = link_to("Purple Dunes", "http://purpledunes.com/") + "."
  You can also checkout my personal 
  = link_to("Twitter", "http://twitter.com/provoost")
  and 
  = link_to("blog", "http://sprovoost.nl/") + "."
- if Rails.env == "production"
  :javascript
    mixpanel.track("Landing page");