- content_for :title, "Step 2 - Bitcoin for Passbook"
.row
  .span12
    = form_for @address, :html => { :class => 'form-horizontal' } do |f|
      .control-group
        .controls
          %span.badge.badge-success=link_to "Step 1 (address)", edit_address_path(@address), {:style => "color:#FFFFFF;"}
          = "->"
          - if @address.paid
            %span.badge.badge-success Step 2 (payment)
          - else
            %span.badge.badge-info Step 2 (payment)
          = "->"
          %span.badge Step 3 (pass)
      .control-group
        = f.label "Address", :class => 'control-label'
        .controls
          = link_to @address.base58, edit_address_path(@address)
      .control-group
        = f.label "Name", :class => 'control-label'
        .controls
          = link_to @address.name, edit_address_path(@address)
      .control-group
        = f.label "Balance", :class => 'control-label'
        .controls
          ฿ 
          = @address.balance
          according to 
          = link_to "Blockchain.info", "http://blockchain.info/address/#{ @address.base58 }", :target => "_new"
      .control-group
        .controls
          .coinbase-button{:"data-code" => @address.button_code}
          %script{:src => "https://coinbase.com/assets/button.js", :type => "text/javascript"}
      .control-group
        .controls
          #coinbase_payment_progress
            = render "order_progress"
            - if !@address.paid
              :javascript
                var orderTimer;
                $(function() {
                   orderTimer = setInterval(function() {$("#coinbase_payment_progress").load("#{order_progress_address_path(@address)}")}, 5000);
                });
- if Rails.env == "production"
  :javascript
    mixpanel.track("Payment page");